<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{- block "title" . -}}
      {{ .Site.Title }}
      {{- end -}}
    </title>
    {{ $sass := resources.Get "css/marcus-two-column.scss" | resources.ToCSS }}
    <link rel="stylesheet" type="text/css" href="{{ $sass.RelPermalink }}">
    {{- range .Site.Params.css }}
    <link rel="stylesheet" type="text/css" href='/css/{{ . }}'>
    {{- end }}
  </head>
  <body>
    <h1>{{ .Site.Title }}</h1>
    <main>
      {{- block "main" . }}{{- end }}
    </main>
  </body>
</html>
